#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card,.output-card {
    border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
}

.find-btn
{
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2378b1;
    min-width: 50px;
    
    /* max-width: 2rem; */
}

.card input
{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: none;
  background: none;
}

.output-card
{
  /* width: 100%; */

  /* max-width: 420px; */
  /* display: flex; */
  min-height: 30px;
  height: auto;
  /* justify-content: space-between; */

}

.spinner img
{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.weather-logo img
{
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-top: 0.7em;
}
